.form_inputs--input--wfn0T {
    color: var(--color-text, #282828);
    display: block;
    width: 100%;
    padding-left: 12px;
    box-sizing: border-box;
    -webkit-user-select: auto;
    user-select: auto;
    font-size: 16px;
    border: 2px solid var(--color-border-strong, #000);
    border-radius: 6px;
    height: 50px;
    line-height: normal;
}
.picture {
    background-image: url(icon.svg);
  }